<div>
  <div class="row">
    <div class="collum">
      <h4>
        replay subject
      </h4>
    </div>
    <hr>
  <div class="collum">
    <div class="col-md-4 form row mx-2">
      <input type="text"  class="form-control" name="" id="" #addValue placeholder="add data">
    </div>
      <div class="col-md-3 row my-2"></div>
    <button class="btn btn-success mx-2" (click)="func(addValue
    .value)">add</button>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4>user 1</h4>
     
      <ul>
        <li *ngFor="let i of userOneList1">emit : <strong>{{i}}</strong></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h4>user 2</h4>
      <button class="btn" [ngClass]="sunbscibe2? 'btn-danger':'btn-success'" (click)="user2button()">{{sunbscibe2? 'subscribe' : 'unsubscribe'}}</button>
      <ul>
        <li *ngFor="let i of userOneList2">emit data2: <strong>{{i}}</strong></li>
     
      </ul>
    </div>
    <div class="col-md-4">
      <h4>user 3</h4>
      <button class="btn btn-success" (click)="user3button()">subscribe</button>
      <ul>
        <li>xyz <strong>one</strong></li>

      </ul>
    </div>
  </div>
</div>